.header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}
.nav{
   height: calc(--header-height)+ 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav__logo-img{
    width: 150px;
    cursor: pointer;
}

.nav__list{
    display: flex;
    column-gap: 2rem;
}
.nav__link, .nav__toggle{
    color: var(--text-color);
    cursor: pointer;
}

.nav__link:hover{
    color: var(--first-color);
}
#home1{
    color: var(--first-color) !important;
}
#home1:hover{
    color: var(--first-color);
}
.nav__toggle{
    width: 40px;
    margin-right: 2rem;
    display:none ;
}
#nav-btn1, #nav-btn2{
    width: 14vh;
    text-align: center;
}
#nav-btn2{
background-color: var(--first-color-light);
border: 2px solid var(--first-color-light);
}
#nav-btn2:hover{
    color: var(--first-color-light);
    background-color: var(--bg-color);

}
#navbtn2:hover{
    color: var(--first-color-light);
}
.nav__item{
    margin-top: 2vh;
}
/*==================
    Scroll Header
    ==============*/

    .scroll-header{
        position: fixed;
        background-color: var(--container-color);
        animation: slide-down 0.7s;
    }
    @keyframes slide-down
{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
/*==================
    Active link
    ==============*/